<div class="">

<h3>Your Circles</h3>
  <ul>
  <% @circles.each do |circle| %>
     <li> <%= circle.name %> </li>
  <% end %>
</ul>
</div>

<div class="">
  <h3>Recent Activity</h3>
</div>

<%= link_to 'Create New Circle', new_circle_path %>
